<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./../static/style.css">
    <script src="./../static/web3.min.js"></script>
    <script src="./../static/abi-decoder.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          English Auction
        </div>
        <div id="ownership-label" class="col-md-3">
        </div>
        <div id="over-label" class="col-md-3">
        </div>
        <div class="col-md-4 panel panel_right  ">
          <h2>My Account</h2>
          <select onchange="update_balance2()" id="myaccount" class="account"></select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          "Item Name"
        </div>
        <div class="col-md-2">
          Time Left: 
        </div>
        <div id="duration" class="col-md-2">
          
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          Auction Address: 
        </div>
        <div class="col-md-4">
          0x5B38Da6a701c568545dCfcB03FcB875f56beddC4
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          Current Highest Bid: 
        </div>
        <div id="curr-min-bid" class="col-md-6">
          0
        </div>
        <div id="account-balance" class="col-md-4">
          Balance: 
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-3">
          <input id="bid" type="text" placeholder="00">
        </div>
        <div class="col-md-1">
          <select id="units"></select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-3">
          <input id="third-address" type="text" placeholder="Third Party Address">
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-2">
          <button id="submit-bid"></button>
        </div>
        <div class="col-md-2">
          <button id="end-auction-button"></button>
        </div>
      </div>
      
    </div>


    <script src="./../static/english.js"></script>
  </body>
</html>
