<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./../static/style.css">
    <script src="./../static/web3.min.js"></script>
    <script src="./../static/abi-decoder.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <button class=button2 id="home">Home</button>
        </div>
        <div class="col-md-3">
          <input id="e-address" type="text" placeholder="Search Auction">
        </div>
        <div class="'col-md-1">
          <button class=button3 id="go-e">Go</button>
        </div>
        <div class="col-md-3">
          <input id="mb-address" type="text" placeholder="Search MultiBids">
        </div>
        <div class="'col-md-1">
          <button class=button3 id="go-mb">Go</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          English Auction
        </div>
        <div id="ownership-label" class="col-md-3">
        </div>
        <div id="over-label" class="col-md-3">
        </div>
        <div class="col-md-4 panel panel_right">
          <h2>My Account</h2>
          <select onchange="update_balance2()" id="myaccount" class="account"></select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">
              Item: 
            </div>
            <div id="name" class="col-md-3">
              Invalid Address
            </div>
          </div>


          <div class="row">
            <div class="col-md-3">
              Time Left: 
            </div>
            <div id="duration" class="col-md-2">

            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              Auction Address: 
            </div>
            <div id="auction-address" class="col-md-4">
              0x0000000000000000000000000000000000000000
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              Current Highest Bid: 
            </div>
            <div id="curr-min-bid" class="col-md-6">
              0
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <br>
              <div id="account-balance">
                Balance: 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <input id="bid" type="text" placeholder="00">
            </div>
            <div class="col-md-2">
              <select id="units"></select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <input id="third-address" type="text" placeholder="Third Party Address">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button id="submit-bid"></button>
            </div>
            <div class="col-md-6">
              <button id="end-auction-button"></button>
            </div>
          </div>
        </div>

      </div>
      
      <br>
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div id="owner-label" class="col-md-12">
              OWNER OPTIONS
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button id="approve-button"></button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button id="reject-button"></button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button id="cashout-button"></button>
            </div>
          </div>
          <div class="row">
            <div id="third-address-display" class="col-md-12">
              Third Party Address:
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button id="approve-third-button"></button>
            </div>
          </div>
          <div class="row">
            <div id="third-approved" class="col-md-12">
              
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="row">
            <div id="winner-label" class="col-md-12">
              WINNER OPTIONS
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button id="approve-button2"></button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button id="reject-button2"></button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button id="withdraw-button"></button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="row">
            <div id="third-label" class="col-md-12">
              THIRD PARTY OPTIONS
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button id="approve-button3"></button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button id="reject-button3"></button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="row">
            <div id="sig-label" class="col-md-12">
              
            </div>
          </div>
          <div class="row">
            <div id="owner-sig" class="col-md-12">
              
            </div>
          </div>
          <div class="row">
            <div id="winner-sig" class="col-md-12">
              
            </div>
          </div>
          <div class="row">
            <div id="third-sig" class="col-md-12">

            </div>
          </div>
        </div>

        
      </div>
      
    </div>


    <script src="./../static/english.js"></script>
  </body>
</html>

