<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chesster</title>
    <link rel="stylesheet" type="text/css" href="./../static/style.css">
    <script src="./../static/web3.min.js"></script>
    <script src="./../static/abi-decoder.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1> Chesster</h1>
        </div>
        <div class="col-md-6 panel panel right">
          <h2>My Account</h2>
          <select onchange="update_balance2()" id="myaccount" class="account"></select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <button id="create-auction">Create Auction</button>
            </div>
            <div class="col-md-6">
              <button id="create-multibid">Create A Multi-Bid</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          Active Auctions:
          <div id="active" class="col-md-6">
          </div>
        </div>
      </div>
    </div>
    
    <script src="./../static/index.js"></script>
  </body>
</html>

